<% provide(:title,"Delete Group") %>
<div class="row">
  <h2>Delete an existing group</h2>
  <div class="col-md-6 col-md-offset-3 jumbotron">
    <%= form_for(@ldap_group, url: destroy_group_path) do |f| %>
      <%= render partial: 'error_messages', object: @ldap_group %>
      <%= f.label "Confirm your ldap password" %>
      <%= f.password_field :ldap_password, autocomplete: "off", class: "form-control" %>
      <%= f.label "Group" %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.submit "Delete", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
