<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= render 'layouts/rails_default' %>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <main role="main" class="container">
      <% if notice %>
        <div class="alert alert-success m-3"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger m-3"><%= alert %></div>
      <% end %>
      <div>
        <%= yield %>
      </div>
      <%= debug(params) if Rails.env.development? %>
    </main>
  </body>
</html>
