<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= render 'layouts/rails_default' %>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <main role="main" class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <section class="container">
        <%= yield %>
      </section>
      <br>
      <section class="jumbotron">
        <%= debug(params) if Rails.env.development? %>
      </section>
    </main>
  </body>
</html>
