<% provide(:title,"Change Password") %>
<div class="row">
  <h2>Change a user's password</h2>
  <div class="col-md-6 col-md-offset-3 jumbotron">
    <%= form_for(@ldap_user, url: update_user_path) do |f| %>
      <%= render partial: 'error_messages', object: @ldap_user %>
      <%= f.label "Confirm your ldap password" %>
      <%= f.password_field :ldap_password, autocomplete: "off", class: "form-control" %>
      <%= f.label "First Name" %>
      <%= f.text_field :fname, autofocus: true, class: "form-control" %>
      <%= f.label "Last Name" %>
      <%= f.text_field :lname, class: "form-control" %>
      <%= f.submit "Change password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
