<% provide(:title,"Change Password") %>
<div class="row">
  <h2>Change an existing user's password.</h2>
  <div class="col-md-6 col-md-offset-3 jumbotron">
    <%= form_for(@ldapuser, url: update_password_path) do |f| %>
      <%= f.label "First Name" %>
      <%= f.text_field :fname, class: 'form-control' %>
      <%= f.label "Last Name" %>
      <%= f.text_field :lname, class: 'form-control' %>
      <%= f.submit "Change password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
